[submodule "intellimacs"]
	path = intellimacs
	url = https://github.com/MarcoIeni/intellimacs.git
[submodule "vim/pack/vendor/start/nerdcommenter"]
	path = vim/pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
