[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "intellimacs"]
	path = intellimacs
	url = https://github.com/MarcoIeni/intellimacs.git
