vim/bundle/
!vim/bundle/Vundle.vim

vim/.netrwhist
vim/vim

# emacs
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/url
emacs.d/transient
emacs.d/.emacs.desktop
emacs.d/tramp
emacs.d/.emacs.desktop.lock
emacs.d/eshell
emacs.d/ac-comphist.dat
emacs.d/projectile-bookmarks.eld
emacs.d/projectile.cache
emacs.d/ido.last
emacs.d/.python-environments
emacs.d/network-security.data
emacs.d/forge-database.sqlite
emacs.d/elpy/
emacs.d/request/
.yas-compiled-snippets.el
emacs.d/init.el.html
emacs.d/init.el.el
emacs.d/emojis/