vim/bundle/*
!vim/bundle/Vundle.vim

vim/.netrwhist
vim/vim

# emacs
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/url
emacs.d/transient
emacs.d/.emacs.desktop
emacs.d/tramp
emacs.d/.emacs.desktop.lock
emacs.d/eshell
emacs.d/ac-comphist.dat
